@import "mobile";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background: #191414;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  z-index: 2;
}

.login {
  h2 {
    color: white;
    font-weight: lighter;
    padding-bottom: 1rem;
  }
  h3 {
    color: white;
    font-weight: lighter;
  }
  a {
    text-decoration: none;
    color: #1ed760;
  }
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
form {
  label {
    color: white;
    font-weight: lighter;
    padding-bottom: 0.5rem;
  }
  input[type="text"] {
    border: none;
    background-color: rgba(225, 225, 225, 0.5);
    outline: none;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  input[type="button"] {
    color: white;
    background-color: transparent;
    border-color: #1ed760;
    border-radius: 3rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: 0.5s ease;
  }
  input:hover {
    background-color: #1ed760;
    border-color: transparent;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.circle {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  height: 60%;
  width: 120%;
  background-color: #1ed760;
  border-radius: 50%;
  z-index: 1;
}
